<ng-container>
  <ul class="groups">
    <li
      class="group"
      [ngClass]="{ expanded: groupsOpened.quickAccess === true }"
    >
      <button class="item group-item" (click)="openView(QUICK_ACCESS)">
        <div
          class="item__chevron-wrapper"
          (click)="toggleGroup($event, 'quickAccess')"
        >
          <span class="item__chevron"></span>
        </div>
        <app-icon class="item__icon" [code]="3584"></app-icon>
        Quick access
      </button>
      <ul class="list-parent">
        <li class="list-item no-expand" *ngFor="let item of quickAccessTree">
          <button class="item" (click)="openFolder(item)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="item.node.icon"></app-icon>
            {{ item.node.name }}
          </button>
        </li>
      </ul>
    </li>

    <li class="group no-expand">
      <button class="item group-item">
        <div class="item__chevron-wrapper">
          <span class="item__chevron"></span>
        </div>
        <app-icon class="item__icon" [code]="278"></app-icon>
        OneDrive - Personal
      </button>
    </li>

    <li class="group" [ngClass]="{ expanded: groupsOpened.thisPc === true }">
      <button class="item group-item" (click)="openView(THIS_PC)">
        <div
          class="item__chevron-wrapper"
          (click)="toggleGroup($event, 'thisPc')"
        >
          <span class="item__chevron"></span>
        </div>
        <app-icon class="item__icon" [code]="903"></app-icon>
        This PC
      </button>
      <ul class="list-parent">
        <li class="list-item" *ngFor="let item of thisPcTree">
          <button class="item" (click)="openFolder(item)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="item.node.icon"></app-icon>
            {{ item.node.name }}
          </button>
        </li>
      </ul>
    </li>

    <!-- TODO! REFACTOR TO GÓWNO ŻEBY TEŻ SZŁO Z VIEW SYSTEMOWEGO A NIE NA SZTYWNO,
    TYLKO ŻEBY TO ZROBIĆ TO TRZEBA DODAĆ KURWA NOWY TYP OBIEKTÓW W SYSTEMIE 
    aka. `Library` KTÓRY BĘDZIE WSKAZYWAĆ NA BIBLIOETKI X       X       DDDDD,
    może kiedys bo mi sie nie chce -->
    <li class="group" [ngClass]="{ expanded: groupsOpened.libraries === true }">
      <button class="item group-item" (click)="openView(LIBRARIES)">
        <div
          class="item__chevron-wrapper"
          (click)="toggleGroup($event, 'libraries')"
        >
          <span class="item__chevron"></span>
        </div>
        <app-icon class="item__icon" [code]="1854"></app-icon>
        Libraries
      </button>
      <ul class="list-parent">
        <li class="list-item">
          <button class="item" (click)="openSystemObject(DOCUMENTS)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="1496"></app-icon>
            Documents
          </button>
        </li>
        <li class="list-item">
          <button class="item" (click)="openSystemObject(MUSIC)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="1510"></app-icon>
            Music
          </button>
        </li>
        <li class="list-item">
          <button class="item" (click)="openSystemObject(PICTURES)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="1503"></app-icon>
            Pictures
          </button>
        </li>
        <li class="list-item">
          <button class="item" (click)="openSystemObject(VIDEOS)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="1517"></app-icon>
            Videos
          </button>
        </li>
      </ul>
    </li>

    <li class="group" [ngClass]="{ expanded: groupsOpened.network === true }">
      <button class="item group-item">
        <div
          class="item__chevron-wrapper"
          (click)="toggleGroup($event, 'network')"
        >
          <span class="item__chevron"></span>
        </div>
        <app-icon class="item__icon" [code]="121"></app-icon>
        Network
      </button>
    </li>
  </ul>
</ng-container>
