<ng-container>
  <ul class="groups">
    <li
      class="group"
      [ngClass]="{ expanded: groupsOpened.quickAccess === true }"
    >
      <button class="item group-item" (click)="openView(QUICK_ACCESS)">
        <div
          class="item__chevron-wrapper"
          (click)="toggleGroup($event, 'quickAccess')"
        >
          <span class="item__chevron"></span>
        </div>
        <app-icon class="item__icon" [code]="3584"></app-icon>
        Quick access
      </button>
      <ul class="list-parent">
        <li class="list-item no-expand">
          <button class="item" (click)="openFolder(DESKTOP)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="910"></app-icon>
            Desktop
          </button>
        </li>
        <li class="list-item no-expand">
          <button class="item" (click)="openFolder(DOWNLOADS)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="1428"></app-icon>
            Downloads
          </button>
        </li>
        <li class="list-item no-expand">
          <button class="item" (click)="openFolder(USER_HOME)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="14"></app-icon>
            Maciej
          </button>
        </li>
      </ul>
    </li>

    <li class="group no-expand">
      <button class="item group-item">
        <div class="item__chevron-wrapper">
          <span class="item__chevron"></span>
        </div>
        <app-icon class="item__icon" [code]="278"></app-icon>
        OneDrive - Personal
      </button>
    </li>

    <li class="group" [ngClass]="{ expanded: groupsOpened.thisPc === true }">
      <button class="item group-item" (click)="openView(THIS_PC)">
        <div
          class="item__chevron-wrapper"
          (click)="toggleGroup($event, 'thisPc')"
        >
          <span class="item__chevron"></span>
        </div>
        <app-icon class="item__icon" [code]="903"></app-icon>
        This PC
      </button>
      <ul class="list-parent">
        <li class="list-item">
          <button class="item" (click)="openFolder(DOCUMENTS)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="795"></app-icon>
            Documents
          </button>
        </li>
        <li class="list-item">
          <button class="item" (click)="openFolder(MUSIC)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="896"></app-icon>
            Music
          </button>
        </li>
        <li class="list-item">
          <button class="item" (click)="openFolder(OBJECTS_3D)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="1634"></app-icon>
            3D Objects
          </button>
        </li>
        <li class="list-item">
          <button class="item" (click)="openFolder(PICTURES)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="563"></app-icon>
            Pictures
          </button>
        </li>
        <li class="list-item">
          <button class="item" (click)="openFolder(DOWNLOADS)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="1428"></app-icon>
            Downloads
          </button>
        </li>
        <li class="list-item">
          <button class="item" (click)="openFolder(DESKTOP)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="910"></app-icon>
            Desktop
          </button>
        </li>
        <li class="list-item">
          <button class="item" (click)="openFolder(VIDEOS)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="107"></app-icon>
            Videos
          </button>
        </li>
        <li class="list-item" *ngFor="let item of devices | keyvalue">
          <button class="item" (click)="openDevice(item.value.device.letter)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon
              class="item__icon"
              [code]="item.value.device.isOs ? 285 : 201"
            ></app-icon>
            {{ item.value.node.name }} ({{ item.value.device.letter }})
          </button>
        </li>
      </ul>
    </li>

    <li class="group" [ngClass]="{ expanded: groupsOpened.libraries === true }">
      <button class="item group-item" (click)="openView(LIBRARIES)">
        <div
          class="item__chevron-wrapper"
          (click)="toggleGroup($event, 'libraries')"
        >
          <span class="item__chevron"></span>
        </div>
        <app-icon class="item__icon" [code]="1854"></app-icon>
        Libraries
      </button>
      <ul class="list-parent">
        <li class="list-item">
          <button class="item" (click)="openFolder(DOCUMENTS)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="1496"></app-icon>
            Documents
          </button>
        </li>
        <li class="list-item">
          <button class="item" (click)="openFolder(MUSIC)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="1510"></app-icon>
            Music
          </button>
        </li>
        <li class="list-item">
          <button class="item" (click)="openFolder(PICTURES)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="1503"></app-icon>
            Pictures
          </button>
        </li>
        <li class="list-item">
          <button class="item" (click)="openFolder(VIDEOS)">
            <div class="item__chevron-wrapper">
              <span class="item__chevron"></span>
            </div>
            <app-icon class="item__icon" [code]="1517"></app-icon>
            Videos
          </button>
        </li>
      </ul>
    </li>

    <li class="group" [ngClass]="{ expanded: groupsOpened.network === true }">
      <button class="item group-item">
        <div
          class="item__chevron-wrapper"
          (click)="toggleGroup($event, 'network')"
        >
          <span class="item__chevron"></span>
        </div>
        <app-icon class="item__icon" [code]="121"></app-icon>
        Network
      </button>
    </li>
  </ul>
</ng-container>
