<div class="elements-list" (click)="clickOutside($event)">
  <div class="groups">
    <div
      class="group"
      *ngFor="let group of items"
      [ngClass]="{ 'group--expanded': groupsOpened[group.name] === true }"
    >
      <header
        *ngIf="hasGroups"
        class="group__header"
        (click)="toggleGroup($event, group.name)"
      >
        <div class="group__chevron-wrapper">
          <span class="group__chevron"></span>
        </div>
        <h2 class="group__heading">
          {{ group.name }} ({{ group.children.length }})
        </h2>
        <span class="group__separator"></span>
      </header>
      <div class="group__body">
        <div class="layout-list">
          <ul>
            <li
              *ngFor="let item of group.children"
              class="item"
              [ngClass]="{
                'item--selected': selectedNodes[item.node.name]
              }"
            >
              <button
                class="item"
                (click)="selectItem($event, item)"
                (dblclick)="openFolder(item)"
              >
                <app-icon class="item__icon" [code]="item.node.icon"></app-icon>
                {{ item.node.name }}
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <p *ngIf="!items[0].children.length" class="empty">This folder is empty.</p>
</div>
