<div class="title-bar">
  <div class="title-bar__menu">
    <div class="title-bar__menu-icon">
      <app-icon [code]="14"></app-icon>
    </div>
    <span class="title-bar__separator"></span>
    <app-toolbar></app-toolbar>
    <span class="title-bar__separator"></span>
    <p class="title-bar__title">{{ location }}</p>
  </div>
  <div class="title-bar__buttons">
    <button class="title-bar__button title-bar__button--minimalize">
      <span class="bar"></span>
    </button>
    <button class="title-bar__button title-bar__button--maximalize">
      <span class="bar"></span>
    </button>
    <button class="title-bar__button title-bar__button--close">
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </div>
</div>
