<div class="ribbon">
  <header
    class="ribbon__header"
    [ngClass]="{
      'ribbon__header--collapsed': !isRibbonOpened
    }"
  >
    <div class="ribbon__tabs">
      <button class="ribbon__tab ribbon__tab--file">File</button>
      <button
        *ngFor="let tab of tabs"
        (click)="selectTab(tab.name)"
        class="ribbon__tab"
        [ngClass]="{
          'ribbon__tab--active': activeTab == tab.name && isRibbonOpened
        }"
      >
        {{ tab.label }}
      </button>
    </div>
    <div class="ribbon__header-group">
      <app-button-icon
        [code]="10001"
        title=""
        desc=""
        (click)="toggleRibbon()"
      ></app-button-icon>
      <app-button-icon [code]="3083" title="" desc=""></app-button-icon>
    </div>
  </header>

  <div [hidden]="!isRibbonOpened" class="ribbon__content">
    <app-ribbon-tab-tools *ngIf="activeTab === 'tools'"></app-ribbon-tab-tools>
    <app-ribbon-tab-sharing
      *ngIf="activeTab === 'sharing'"
    ></app-ribbon-tab-sharing>
    <app-ribbon-tab-view *ngIf="activeTab === 'view'"></app-ribbon-tab-view>
  </div>
</div>
