<div class="ribbon">
  <div class="ribbon__group">
    <div class="ribbon__group-content">
      <button class="btn btn-lg-vert" [disabled]="!settings.pinToQuickAccess">
        <app-icon class="btn__icon btn-lg-vert__icon" [code]="1640"></app-icon>
        <p class="btn-lg-vert__label">Pin to Quick<br />access</p>
      </button>
      <button class="btn btn-lg-vert" [disabled]="!settings.copy">
        <app-icon class="btn__icon btn-lg-vert__icon" [code]="4015"></app-icon>
        <p class="btn-lg-vert__label">Copy</p>
      </button>
      <button class="btn btn-lg-vert" [disabled]="!settings.paste">
        <app-icon class="btn__icon btn-lg-vert__icon" [code]="4029"></app-icon>
        <p class="btn-lg-vert__label">Paste</p>
      </button>
      <div class="ribbon__vertical-group">
        <button class="btn btn-sm-hor" [disabled]="!settings.cut">
          <app-icon class="btn__icon btn-sm-hor__icon" [code]="4025"></app-icon>
          <p class="btn-sm-hor__label">Cut</p>
        </button>
        <button class="btn btn-sm-hor" [disabled]="!settings.copyPath">
          <app-icon class="btn__icon btn-sm-hor__icon" [code]="1700"></app-icon>
          <p class="btn-sm-hor__label">Copy path</p>
        </button>
        <button class="btn btn-sm-hor" [disabled]="!settings.pasteShortcut">
          <app-icon class="btn__icon btn-sm-hor__icon" [code]="1693"></app-icon>
          <p class="btn-sm-hor__label">Paste shortcut</p>
        </button>
      </div>
    </div>
    <p class="ribbon__group-label">Clipboard</p>
  </div>
  <div class="ribbon__group">
    <div class="ribbon__group-content">
      <button
        class="btn btn-lg-sm btn-lg-vert-dropdown"
        [disabled]="!settings.moveTo"
      >
        <app-icon
          class="btn__icon btn-lg-vert-dropdown__icon"
          [code]="1704"
        ></app-icon>
        <p class="btn-lg-vert-dropdown__label">
          Move to <span class="triangle"></span>
        </p>
      </button>
      <button
        class="btn btn-lg-sm btn-lg-vert-dropdown"
        [disabled]="!settings.copyTo"
      >
        <app-icon
          class="btn__icon btn-lg-vert-dropdown__icon"
          [code]="1711"
        ></app-icon>
        <p class="btn-lg-vert-dropdown__label">
          Copy to <span class="triangle"></span>
        </p>
      </button>
      <span class="ribbon__group-separator"></span>
      <div class="btn btn-lg-vert-multipart">
        <button
          class="btn__inner btn-lg-vert-multipart__btn"
          (click)="deleteItems()"
          [disabled]="!settings.delete"
        >
          <app-icon
            class="btn__icon btn-lg-vert-multipart__icon"
            [code]="785"
          ></app-icon>
        </button>
        <button class="btn__inner btn-lg-vert-multipart__btn">
          <p class="btn-lg-vert-multipart__label">Delete</p>
          <span class="triangle"></span>
        </button>
      </div>
      <button
        class="btn btn-lg-sm btn-lg-vert"
        [disabled]="!settings.rename"
        (click)="renameItem()"
      >
        <app-icon class="btn__icon btn-lg-vert__icon" [code]="820"></app-icon>
        <p class="btn-lg-vert__label">Rename</p>
      </button>
    </div>
    <p class="ribbon__group-label">Organize</p>
  </div>
  <div class="ribbon__group">
    <div class="ribbon__group-content">
      <button
        class="btn btn-lg-sm btn-lg-vert"
        [disabled]="!settings.newFolder"
        (click)="newFolder()"
      >
        <app-icon class="btn__icon btn-lg-vert__icon" [code]="11"></app-icon>
        <p class="btn-lg-vert__label">New folder</p>
      </button>
      <div class="ribbon__vertical-group">
        <button
          class="btn btn-sm-hor-dropdown"
          [disabled]="!settings.newItem"
          (click)="newFile()"
        >
          <app-icon class="btn__icon btn-sm-hor__icon" [code]="1735"></app-icon>
          <p class="btn-sm-hor__label">
            New item <span class="triangle"></span>
          </p>
        </button>
        <button
          class="btn btn-sm-hor-dropdown"
          [disabled]="!settings.easyAccess"
        >
          <app-icon class="btn__icon btn-sm-hor__icon" [code]="2914"></app-icon>
          <p class="btn-sm-hor__label">
            Easy access <span class="triangle"></span>
          </p>
        </button>
      </div>
    </div>
    <p class="ribbon__group-label">New</p>
  </div>
  <div class="ribbon__group">
    <div class="ribbon__group-content">
      <div class="btn btn-lg-vert-multipart">
        <button
          class="btn__inner btn-lg-vert-multipart__btn"
          [disabled]="!settings.properties"
        >
          <app-icon
            class="btn__icon btn-lg-vert-multipart__icon"
            [code]="2145"
          ></app-icon>
        </button>
        <button class="btn__inner btn-lg-vert-multipart__btn">
          <p class="btn-lg-vert-multipart__label">Properties</p>
          <span class="triangle"></span>
        </button>
      </div>

      <div class="ribbon__vertical-group">
        <button class="btn btn-sm-hor-multipart" [disabled]="!settings.open">
          <button class="btn-sm-hor-multipart__btn">
            <app-icon
              class="btn__icon btn-sm-hor__icon"
              [code]="107"
            ></app-icon>
            <p class="btn-sm-hor__label">Open</p>
          </button>
          <button class="btn-sm-hor-multipart__btn">
            <span class="triangle"></span>
          </button>
        </button>
        <button class="btn btn-sm-hor" [disabled]="!settings.edit">
          <app-icon class="btn__icon btn-sm-hor__icon" [code]="1728"></app-icon>
          <p class="btn-sm-hor__label">Edit</p>
        </button>
        <button class="btn btn-sm-hor" [disabled]="!settings.history">
          <app-icon class="btn__icon btn-sm-hor__icon" [code]="2050"></app-icon>
          <p class="btn-sm-hor__label">History</p>
        </button>
      </div>
    </div>
    <p class="ribbon__group-label">Open</p>
  </div>
  <div class="ribbon__group">
    <div class="ribbon__group-content">
      <div class="ribbon__vertical-group">
        <button class="btn btn-sm-hor" (click)="selectAll()">
          <app-icon class="btn__icon btn-sm-hor__icon" [code]="1742"></app-icon>
          <p class="btn-sm-hor__label">Select all</p>
        </button>
        <button class="btn btn-sm-hor" (click)="selectNone()">
          <app-icon class="btn__icon btn-sm-hor__icon" [code]="1749"></app-icon>
          <p class="btn-sm-hor__label">Select none</p>
        </button>
        <button class="btn btn-sm-hor" (click)="selectInvert()">
          <app-icon class="btn__icon btn-sm-hor__icon" [code]="1756"></app-icon>
          <p class="btn-sm-hor__label">Invert selection</p>
        </button>
      </div>
    </div>
    <p class="ribbon__group-label">Select</p>
  </div>
</div>
