.toolbar {
  height: 100%;
  position: relative;
  display: flex;

  .toolbar__items {
    display: flex;
  }

  .toolbar__button {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #f1f7fe;
      border: 1px solid #abd4fe;
    }
  }

  .menu {
    position: absolute;
    z-index: 10;
    border-radius: 2px;
    top: 24px;
    right: 0;
    background: #fbfcfd;
    box-shadow: 3px 3px 2px rgba(123, 123, 123, 0.15);
    border: 1px solid #dcddde;
    padding: 1px;
    white-space: nowrap;
    font-size: 1.1rem;
    user-select: none;

    .menu__label {
      background-color: #f6f7f8;
      color: #404040;
      font-weight: bold;
      padding: 5px;
      border-bottom: 1px solid #dcddde;
    }

    .menu__list {
      margin-top: 1px;

      .menu__list-item {
        height: 22px;
        display: flex;
        border: 1px solid transparent;

        &:hover {
          background: #edf4fc;
          border: 1px solid #a8d2fd;

          .menu__list-item__checkbox {
            border-right: 0;
          }
        }

        .menu__list-item__checkbox {
          width: 24px;
          height: 100%;
          border-right: 1px solid #dcddde;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .menu__list-item__text {
          padding: 5px 0 6px;
          margin-left: 5px;
          width: 100%;
          display: flex;
          align-items: center;
        }
      }

      .menu__divider {
        border-bottom: 1px solid #dcddde;
      }
    }
  }
}
